body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;

}

ul {
    list-style: none;

}
.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*------------------HEADER----------*/

.header-logo {
    color:  #2E2F42;
        font-family: 'Raleway',sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.06em;
        text-transform: uppercase; 
}

.header-logo-part {
    color:  #4D5AE5;
}
.header-menu-link {
    color:  #434455;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.09em;
}
.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--OCEAN, #404BBF);
}

.address-list {
    color:  #434455;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.address-list:hover, 
.address-list:focus {
    color: var(--OCEAN, #404BBF);
    }

        /*------------------------------*/
        /*------------------HERO----------*/

.hero {

}

.hero-title {
color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.01em;

}

.hero-buy-btn {
    color: var(--WHITE, #FFF);
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.09em;
        background: var(--IRIS, #4D5AE5);
        cursor: pointer;

}
.hero-buy-bt:hover,
 .hero-buy-bt:focus {
   color: var(--OCEAN, #404BBF);
 }
  /*----------------------------*/
   /*------------------FEATURES----------*/
   
   .features {

   }

   .visually-hidde {

   }

   .features-list {

   }

   .features-item {

   }

   .features-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.06em;

   }

   .features-item-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.09em;

   }
   /*----------------------------*/
   /*-------------TEAM---------------*/

   .team {

   }

   .team-title {

   }

   .team-list {

   }

   .team-item {

   }

   .team-img {

   }

   .team-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.06em;


   }

   .team-item-text {
    color: var(--SLATE, #434455);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.09em;

   }
/*----------------------------*/
/*------------PORTFOLIO---------------*/

.portfolio {

}

.portfolio-title {

}

.portfolio-list {

}

.portfolio-item {

}

.portfolio-img {

}

.portfolio-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.06em;

}

.portfolio-item-text {
    color: var(--SLATE, #434455);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.09em;

}
/*----------------------------*/
/*-------------FOOTER--------------*/
.footer {

}

.footer-logo-part {
    color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.06em;
        text-transform: uppercase;

}
.footer-logo-part {
    color: var(--IRIS, #4D5AE5);
}

.footer-heading {
    color: var(--CLOUD, #F4F4FD);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.09em;


}
/*---------------------------*/